[submodule "Calculadora/Suma"]
	path = Calculadora/Suma
	url = https://github.com/2025-b-sw-construccion-gr2/stgb-suma.git
[submodule "Calculadora/Resta"]
	path = Calculadora/Resta
	url = https://github.com/2025-b-sw-construccion-gr2/stgb-resta.git
